@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,800");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: #313a3d;
  background-attachment: fixed, fixed;
  background-image: url("../../frontend/public/images/bg.jpg");
  background-position: top left, center center;
  background-repeat: repeat, none;
  background-size: auto, cover;
}

body,
input,
select,
textarea {
  color: #6f7577;
  font-family: "Raleway", "Helvetica", sans-serif;
  font-size: 15pt;
  font-weight: 400;
  line-height: 1.75em;
}

a {
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #8cd1a8;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent !important;
  color: #8cd1a8 !important;
  text-decoration: none;
}

strong,
b {
  color: #61686b;
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3 {
  color: #61686b;
  font-weight: 800;
  letter-spacing: 0.075em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
}

/* Container */

.container {
  margin: 0 auto;
  max-width: calc(100% - 4em);
  width: 35em;
}

/* Row */

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

.row > * {
  box-sizing: border-box;
}

.row > .imp {
  order: -1;
}

.row > .col-6 {
  width: 50%;
}

.row > .off-6 {
  margin-left: 50%;
}

.row > .col-12 {
  width: 100%;
}

.row {
  margin-top: 0;
  margin-left: -1.5em;
}

.row > * {
  padding: 0 0 0 1.5em;
}

.row.gtr-uniform {
  margin-top: -1.5em;
}

.row.gtr-uniform > * {
  padding-top: 1.5em;
}

/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header p {
  color: #a8b0b3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

header h1 + p {
  margin-top: -1em;
}

header h2 + p {
  margin-top: -1em;
}

header h3 + p {
  margin-top: -0.8em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.8em;
  margin-top: -0.6em;
}

header.major {
  text-align: center;
}

header.major h1,
header.major h2,
header.major h3,
header.major h4,
header.major h5,
header.major h6 {
  position: relative;
}

header.major h1:after,
header.major h2:after,
header.major h3:after,
header.major h4:after,
header.major h5:after,
header.major h6:after {
  background: #dddddd;
  content: "";
  display: block;
  height: 2px;
  margin: 0.75em auto 0 auto;
  position: relative;
  width: 4em;
}

header.major p {
  margin-top: 0;
}

/* Form */

form {
  margin: 0 0 2em 0;
}

label {
  color: #61686b;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.15);
  border-radius: 0;
  border: none;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  box-shadow: inset 0 0 0 2px #8cd1a8;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 3em;
}

textarea {
  padding: 0.75em 1em;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

.icon.major {
  display: block;
  margin: 0 0 1em 0;
}

.icon.major:before {
  font-size: 2.5em;
}

/* Image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

dl {
  margin: 0 0 2em 0;
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1.5em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 1.5em;
}

/* Icons Grid */

ul.icons-grid {
  list-style: none;
  padding: 0;
  position: relative;
}

ul.icons-grid li {
  display: block;
  float: left;
  padding: 3em 0;
  width: 50%;
}

ul.icons-grid li h3 {
  margin: 0;
}

ul.icons-grid li:nth-child(2n + 1) {
  box-shadow: inset -1px 0 0 0 #dddddd, 1px 0 0 0 #dddddd;
}

ul.icons-grid li:nth-child(2n + 3):before {
  background: #dddddd;
  content: "";
  display: block;
  height: 2px;
  margin-top: -3em;
  position: absolute;
  width: 100%;
}

ul.icons-grid:after {
  clear: both;
  content: "";
  display: block;
}

/* Actions */

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}

ul.actions.special {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  margin-left: 0;
}

ul.actions.special li:first-child {
  padding-left: 0;
}

ul.actions.fit {
  width: calc(100% + 1em);
}

ul.actions.fit li {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}

ul.actions.fit li > * {
  width: 100%;
}

ul.actions.fit.stacked {
  width: 100%;
}

/* Table */

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px #dddddd;
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.075);
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  color: #61686b;
  font-size: 0.9em;
  font-weight: 700;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table thead {
  border-bottom: solid 2px #dddddd;
}

table tfoot {
  border-top: solid 2px #dddddd;
}

/* Button */

input[type="submit"],
.button {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: inset 0 0 0 2px #dddddd;
  color: #61686b !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3em;
  letter-spacing: 0.05em;
  line-height: 3.15em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:hover,
.button:hover {
  background-color: rgba(144, 144, 144, 0.075);
  color: #61686b !important;
}

input[type="submit"]:active,
.button:active {
  background-color: rgba(144, 144, 144, 0.15);
  color: #61686b !important;
}

input[type="submit"].primary,
.button.primary {
  background-color: #8cd1a8;
  border: 0;
  box-shadow: none;
  color: #ffffff !important;
}

input[type="submit"].primary:hover,
.button.primary:hover {
  background-color: #9ed8b6;
}

input[type="submit"].primary:active,
.button.primary:active {
  background-color: #7aca9a;
}

input[type="submit"].primary.icon:before,
input[type="reset"].primary.icon:before,
input[type="button"].primary.icon:before,
button.primary.icon:before,
.button.primary.icon:before {
  color: #d1eddc;
}

/* Main */

.main {
  position: relative;
}

.main .image.primary {
  display: none;
}

.main .container {
  padding: 5em 2.5em 8em 2.5em;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: inset 0 1px 0 0 #dddddd;
}

.main .container:before {
  min-height: calc(100vh - 13em);
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
}

.main .container .content {
  display: inline-block;
  margin-right: 1px;
  vertical-align: middle;
  width: calc(100% - 10px);
}

.main .goto-next {
  background-color: rgba(144, 144, 144, 0.075);
  background-image: url("images/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 0;
  bottom: 3em;
  display: block;
  height: 4em;
  left: 50%;
  line-height: 4em;
  margin-left: -2em;
  overflow: hidden;
  position: absolute;
  text-indent: 4em;
  white-space: nowrap;
  width: 4em;
}

.main .goto-next:hover {
  background-color: rgba(144, 144, 144, 0.15);
}

/* Header */

#header {
  height: 100vh;
  position: relative;
  text-align: center;
}

#header:after {
  content: "";
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}

#header header {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding-bottom: 8em;
  vertical-align: middle;
}

#header header h1,
#header header h2,
#header header h3
 {
  color: #ffffff;
}

#header header a {
  color: inherit;
}

#header header a:hover {
  color: #ffffff !important;
}

#header header h1 {
  font-size: 3em;
  line-height: 1.25em;
  margin: 0;
}

#header header h1:after {
  margin-top: 0.5em;
}

#header header p {
  color: #ffffff;
  font-weight: 700;
  margin: 1.5em 0 0 0;
}

#header .container {
  background: rgba(255, 255, 255, 0.95);
  bottom: 0;
  left: 50%;
  margin-left: -17.5em;
  padding: 2.5em;
  position: absolute;
}

#header .container > :last-child {
  margin-bottom: 0;
}

#header .container .button {
  min-width: 12em;
}

/* Footer */

#footer {
  min-height: 100vh;
  padding: 0 0 12em 0;
  position: relative;
  text-align: center;
}

#footer .container {
  padding: 5em 2.5em 3em 2.5em;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: inset 0 1px 0 0 #dddddd;
}

#footer footer {
  bottom: 2em;
  color: rgba(255, 255, 255, 0.5);
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}


#footer footer h2
 {
  color: #ffffff;
}

#footer footer a {
  color: inherit;
}

#footer footer a:hover {
  color: #ffffff !important;
}
