* {
	/* background-image: url('pic01.jpg'); */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('pic01.jpg');
	/* color: #FFFFFF; */
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

ul {
	list-style: none;
}

/**
 * top header
 */
.top-header {
	align-items: center;
	background: rgb(228, 98, 87);
	box-shadow: 0px 2px 10px #333333;
	display: flex;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.avatar {
	background: #FFFFFF;
	border-radius: 50%;
	color: #333C4D;
	height: 40px;
	margin-right: 20px;
    margin-left: 10px;
	padding-left: 9px;
	padding-top: 5px;
	width: 40px;
}

#logout-link {
	padding-left: 10px;
	color: white;
}

/**
 * top navigation
 */
.top-nav {
	flex: 1;
}

.top-nav a {
	color: #F9F9F9;
	font-weight: 400;
	margin-left: 20px;
	text-decoration: none;
}

#welcome-msg {
	border-right: 1px solid #FFFFFF;
	padding-right: 10px;
}

/**
 * main container
 */
.container {
	margin: 60px auto;
	max-width: 1400px;
	min-width: 600px;
}

/**
 * main header
 */
.container>header {
	align-items: center;
	/* background:
		url('http://folkartcarsi.com/img/4.jpg')
		no-repeat 50% 40%; */
	background-size: 100%;
	display: flex;
	height: 250px;
}

.container>header p {
	color: white;
	border-left: 1px solid #FFFFFF;
	font-weight: 400;
	font-size: 2em;
	line-height: 1em;
	margin-left: 220px;
	padding-left: 5px;
}

.container>header span {
	color: #FBAF41;
}


/**
 * main section
 */
.main-section {
    /* background: #F3BB43; */
    background:rgb(233, 194, 139);
	height: 420px;
	position: relative;
}

/**
 * aside
 */
#item-nav {
	float: left;
	width: 220px;
}

.nav-icon {
	color: #624630;
	padding: 20px;
	text-align: center;
}

/**
 * main navigation
 */
.main-nav-btn {
	background: none;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	padding: 20px;
	text-align: left;
	text-decoration: none;
}

.main-nav-btn:hover {
	background: rgba(255, 255, 255, 0.8);
	color: #624630;
}

.main-nav-btn.active {
	background: #F2EBD9;
	color: #624630;
}

.main-nav-btn i {
	width: 20px;
}
/**
* detail part
*/
.detail-info {

	height: 420px;
	margin-left: 220px;
	background: #F2EBD9;
}

.info-list {
	/* min-height: 350px; */
    padding: 0px;
    overflow: scroll;
    height:360px;
}

.add-btn {
	/* border-top: 0.1px solid white; */
	height: 60px;
	display: flex;
}
.add-btn>button {
	font-size: medium;
	color: rgb(9, 46, 9);
	flex: 1
}
.add-btn>button:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.8);
	color: #624630;
}

.add-btn>button:active {
	cursor: auto;
	background: #F2EBD9;
	color: #624630;
}

/**
* add/edit functions
*/
.detail-header {
	background-color: #CCE8EB;
	padding: 20px;
	text-align: center;
	color:gray;
}


.pop-out {
	background: white;
	min-height:600px;
	width: 600px;
	position: relative;
	top: -520px;
	left:470px;
	display: none;	
}
#new-orders, #new-products, #new-clients {
	display: none;
}
.pop-out ul{
	align-content: center;
	margin-left:100px;
	/* margin-right:130px; */
	width: 400px;
	border-left: 1px solid	skyblue;
	border-right: 1px solid skyblue;
}
.pop-out li{
	padding:5px;
	margin:20px;
	height: 100%;
}
.pop-out p{
	color:gray;
	background-color: #CCE8EB;
	float: left;
	width:80px;
	margin-left: 50px;
	text-align: left;
}
.pop-out p::after{
	content: ":";
}
	
.pop-out input{
	margin-left:20px;
}
.save-cancel {
	text-align: center;
	margin-left:80px;
	width: 400px;
	margin-top:80px;
}
.notation {
	text-align: center;
	margin-top:80px;
}
.save-cancel button {
	margin-left: 20px;
	height:30px;
	width: 80px;
	background-color: #CCE8EB;
	color:gray;
}
.save-cancel button:hover {
	cursor: pointer;
}
/**
 * footer section
 */
footer {
	/* background: #434343; */
	color: white;
	font-size: 0.8em;
	height: 200px;
    position: relative;
    
}

footer p {
	text-align: center;
	position: relative;
}

footer p.title {
	font-size: 1.2em;
	padding: 15px;
}

footer ul {
	align-items: center;
	display: flex;
	padding: 20px;
}

footer ul li {
	flex: 1;
}

.title a {
	color:white;
}