.table{
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
  }
  
  .table td, .table th{
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
  }
  .table tr {
    height:50px;
  }
  
  .table thead th{
    background-color: #CCE8EB;
    width: 240px;
  }
  
  .table tr:nth-child(odd){
    background: #fff;
  }
  
  .table tr:nth-child(even){
    background: #F5FAFA;
  }
  
  .table-sortable th {
    cursor: pointer;
  }
  .order-number:hover {
    cursor: pointer;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }


               
  
  